    .clickable:hover {
      cursor: pointer;
    }
    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    html,body{
      height:90%;
      width:100%;
      margin-top: 2.25%;
      font-size: calc(3vw);/* + 2vh);*/
      word-wrap: break-word;
      /*/background-color: rgba(240, 240, 240, 1);/**/
    }
    .container {
      /*/border: 1px solid red;/**/
      
      width:90%;
      margin: 5%;
      margin-bottom: 0%;
      margin-top: 0%;
      display: flex;
      justify-content: center;
    }
    .contained {
      /*/border: 1px solid black;/**/
      width:30%;
      text-align: center;
    }
    .fleft {  
    }
    .fcenter {
      width:40%;
    }
    .fright { 
    }
    .table-arena {
      width: 100%;
    }
    .arena-part {
      float:left;
      width: 30%;
      /**/padding-bottom: 30%;/**/
      margin:1.66%;
      position: relative;
    }
    .deck-part {
      width: 40%;
      /**/padding-bottom: 40%;/**/
      margin:2.5%;
      margin-top:2.5%;
      position: relative;
    }
    .float-left {
        float:left;
    }
    .float-right {
        float:right;
    }
    .float-top {
        float:top;
    }
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .arena-title {
      width:50%;
    }
    .nametag {
      width: 25%;
      padding-right: 0%;
      padding-left: 1%;
    }
    .foot {
      font-size: calc(1.5vw);/* + 1vh);*/
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .fleft .deck-part {
      background-color: rgba(115, 115, 255, 0.85);
    }
    .fright .deck-part {
      background-color: rgba(255, 115, 115, 0.85);
    }
    .fcenter .arena-part {
      background-color: rgba(150, 150, 150, 0.85);
    }
    .overlay-card {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .overlay-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .force-front {
      z-index: 9999;
    }
    .info-box {
      max-width: 90%;
      padding-top: 5%;
      position: relative;
      float: left;
      font-size: calc(1.8vw);/* + 2vh);*/
    }
    .pad-left {
      padding-left: 8%;
    }
    .remove-bg-color {
      background-color: rgba(255, 255, 255, 1);
    }
    .smalltxt {
      font-size: calc(2vw);/* + 2vh);*/
    }